@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4 text-info "></h3>


    <div class="card text-center">
        <div class="card-header">
            Fri frakt över 500 kr
        </div>
        <div class="card-body">
            <h3 class="card-title text-info">Welcome to  Iman-Market</h3>
             <img src="https://www.netonnet.se/GetFile/BoxImageSmall/(9285)_3_Normal_Original.jpg" class="card-img-top" alt="">
           
            <a href="#" class="btn btn-primary">Bli medlem</a>
        </div>
        <div class="card-footer ">
            Handla tryggt på MediaMarkt
        </div>
    </div>


</div>
